$dark-blue: rgb(3, 37, 76);
$blue: rgb(17, 103, 177);
$light-blue: rgb(208, 239, 255);
$med-grey: rgb(179, 179, 179);
$light-grey: rgba(244, 244, 244, 0.25);
$dark-grey: rgb(92, 92, 92);
$telect-teal: rgb(0, 128, 128);
$telect-light-teal: rgba(137, 213, 210, 0.2);
$telect-dark-teal: rgb(53, 181, 172);
$wordler-purple: rgb(192, 173, 231);
$wordler-dark-purple: rgb(123, 87, 196);
$shopify-light-green: #92e6b56b; 
$shopify-dark-green: #008060;