@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/images/skills-background.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1rem;

    &__icon {
        width: 50px;
    }

    &__title {
        font-weight: 700;
        color: $blue;
        font-size: 1.75rem;
        padding: 0 1rem;
        margin-bottom: 0;

        @include tablet {
            font-size: 2rem;
        }
    }

    &__sub-title {
        font-weight: 600;
        color: $blue;
        font-size: 1rem;
        margin-bottom: 1.5rem;

        @include tablet {
            font-size: 1.25rem;
        }
    }

    &__row {
        display: flex;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    &__webdev-skills {
        display: flex;
        flex-direction: column;
        
        @include tablet {
            flex-direction: row;
        }
    }

    &__design-skills {
        display: flex;
        flex-direction: column;
        
        @include tablet {
            flex-direction: row;
        }
    }

    &__tool-icon {
        display: block;
        width: 100%;
    }

    &__image {
        position: relative;
        width: 3rem;
        margin: 1rem;

        @include tablet {
            width: 4rem;
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.95);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $blue;
        font-size: .75rem;
        opacity: 0;
        text-align: center;

        @include tablet {
            font-size: 1rem;
        }

        &:hover {
           opacity: 1; 
        }

    }
}