@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/images/skills-background.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1rem;

    &__icon {
        width: 50px;
    }

    &__title {
        font-weight: 700;
        color: $dark-blue;
        font-size: 1.75rem;
        padding: 0 1rem;
        margin-bottom: 0;
    }

    &__sub-title {
        font-weight: 600;
        color: $dark-blue;
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    &__skills-container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__tool-icon {
        width: 3rem;
        margin: .75rem;
    }
}