@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  @include tablet {
    align-items: flex-start;
    margin-top: 5rem;
  }

  @include desktop {
    margin-top: 7rem;
  }

  &__bold {
    font-size: 1rem;
    font-weight: bold;
    color: $blue;

    @include desktop {
      font-size: 1.25rem;
    }
  }

  &__title {
    text-align: left;
    margin-left: 2rem;
    margin-right: 2rem;
    border-bottom: 2px solid $dark-blue;
    padding-bottom: 0.5rem;
    margin-top: 3rem;
    font-size: 1.25rem;
    color: $dark-blue;

    &--contact {
      margin-bottom: 2rem;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include desktop {
      width: 300px;
    }
  }

  &__name {
    color: $dark-blue;
    margin: 1rem 0 0.25rem 0;
    font-size: 1.75rem;
  }

  &__role {
    color: $dark-blue;
    margin: 0 0;
  }

  &__bio {
    padding: 0 2rem;
    color: rgb(52, 52, 52);

    @include desktop {
      font-size: 1.125rem;
    }
  }

  &__email {
    color: rgb(52, 52, 52);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;

    @include desktop {
      font-size: 1.125rem;
    }
  }

  &__phone {
    color: rgb(52, 52, 52);
    font-size: 0.85rem;
    font-weight: bold;
    text-align: center;

    @include desktop {
      font-size: 1rem;
    }
  }

  &__linkedin {
    width: 40px;

    @include desktop {
      width: 50px;
    }
  }

  &__github {
    width: 40px;

    @include desktop {
      width: 50px;
    }
  }

  &__resume-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  &__resume-button {
    background-color: $blue;
    border: 2px solid $blue;
    border-radius: 25px;
    height: 2.25rem;
    width: 8rem;
    margin-left: 12.5px;

    &:hover {
      background: white;
    }

    @include desktop {
      height: 2.5rem;
      width: 10rem;
    }
  }

  &__resume {
    text-decoration: none;
    padding: 1rem;
    color: white;
    font-weight: bold;

    &:hover {
      color: $dark-blue;
    }
  }

  &__sandro {
    width: 70%;
    margin-top: 3rem;
    border-radius: 25px 25px 0 0;
  }

  &__logos-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__brand-logo {
    width: 2.5rem;
    margin: 1rem;

    &--sportchek {
      width: 4.5rem;

      @include desktop {
        width: 8rem;
      }
    }

    &--cobra {
      width: 4.5rem;

      @include desktop {
        width: 8rem;
      }
    }
  }

  &__intro-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include desktop {
      width: 350px;
    }
  }

  &__bio-container {
    width: 300px;

    @include desktop {
      width: 300px;
    }
  }

  &__brands-container {
    width: 300px;
  }

  &__contact-container {
    width: 300px;
    display: flex;
    flex-direction: column;
  }

  &__contact {
    width: 6rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    @include desktop {
      width: 7rem;
      margin-bottom: 2rem;
    }
  }

  &__linkedin-link {
    width: 35px;
    height: 35px;
  }

  &__github-link {
    width: 35px;
    height: 35px;
  }
}
