@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    

    @include desktop {
        margin-top: 6rem;
    }

    &__title {
        width: 9rem;
        margin: 2rem 0;

        @include tablet {
            width: 12rem;;
        }
    }
    
    &__about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: .5rem 0;
        background: $blue;
    }
    
    &__email {
        margin: 1rem 0 .5rem 0;
        color: white;
        font-size: 1rem;
        font-weight: bold;

        @include tablet {
            font-size: 1.1rem;
            margin: 1.5rem 0 .5rem 0;
        }
    }

    &__phone {
        margin: .5rem 0;
        color: white;
        font-size: .85rem;
        font-weight: bold;

         @include tablet {
            font-size: 1rem;
        }
    }
    &__linkedin {
        width: 25px;

        @include tablet {
            width: 30px;
        }
    }

    &__github {
        width: 25px;

        @include tablet {
            width: 30px;
        }
    }

    &__avatar {
        margin-top: 1rem;
        width: 100px;
        align-self: center;

        @include tablet {
            width: 110px;
        }
    }

    &__contact {
        width: 4rem;
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
    }

    &__linkedin-link{
        width: 25px;
        height: 25px;
    }

    &__github-link{
        width: 25px;
        height: 25px;       
    }
}