@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    flex-wrap: wrap;
    
    @include tablet {
        align-items: flex-start;
        margin-top: 5rem;
    }

    @include desktop {
        margin-top: 7rem;
    }

    &__title {
        text-align: left;
        margin-left: 2rem;
        margin-right: 2rem;
        border-bottom: 2px solid black;
        padding-bottom: .5rem;
        margin-top: 3rem;

        &--contact {
            margin-bottom: 2rem;
        }
    }
    
    &__name-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1rem 0;
        background: $dark-blue;
    }

    &__name {
        color: white;
        margin: .5rem 0;   
    }

    &__role {
        color: rgb(192, 192, 192);
        margin: .25rem 0;
    }

    &__bio {
        padding: 0 2rem;
    }
    
    &__email {
        color: black;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
    }

    &__phone {
        color: black;
        font-size: .85rem;
        font-weight: bold;
        text-align: center;
    }

    &__linkedin {
        width: 35px;
    }

    &__github {
        width: 35px;
    }

    &__sandro {
        width: 80%;
    }

    &__logos-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__brand-logo {
        width: 3rem;
        margin: 1rem;

        &--sportchek {
            width: 5.5rem;
        }

        &--cobra {
            width: 5.5rem;
        }
    }

    &__intro-container {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__bio-container {
        width: 300px;
    }

    &__brands-container {
        width: 300px;
    }
    
    &__contact-container {
        width: 300px;
    }

    &__contact {
        width: 5rem;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    &__linkedin-link{
        width: 35px;
        height: 35px;
    }

    &__github-link{
        width: 35px;
        height: 35px;       
    }
}