@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $light-grey;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
  padding: .5rem 0;

  &__logo {
    width: 1rem;
    margin-left: 2rem;

    @include tablet {
      width: 1.25rem;
    }
  }

  &__menu {
    margin-right: 1rem;
  }

  &__menu-item {
    margin: 0 .5rem;
    font-size: .85rem;
    color: $dark-blue;
    cursor: pointer;

    @include tablet {
      font-size: 1rem;
    }
  }

  .active {
    color: $blue;
    font-weight: 700;
  }
}
